html,button,input,select,textarea {
	color: #444;
	
}
html {
	font-size: 1em;
	line-height: 1.4;
}

h3 {
	color: #800080;
}

body{
	background-color: #DDA0DD;
}

#wrapper {
	max-width: 900px;
	min-width: 320px; 
	margin-right:auto;
	margin-left:auto;
}

header img {
    border: 1px solid ;
    padding: 15px;
    border-image: url(asmae.jpg) 50 round;
    color: #ccc;
    float:right;
    background-color:white;
    box-shadow: 0px 0px 0px 0.2; 
  }